@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(235, 235, 235);
}

/*Reinicio ciertas declaraciones de bootstrap que no me gustan*/
p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.titulo {
  font-weight: 600;
}

.row {
  padding: 0;
  margin: 0;
}

strong {
  display: block;
}

.modal-content img {
  max-height: 92vh;
  object-fit: contain;
  background-color: rgb(27, 27, 27);
}

.tinyWave {
  width: 100%;
}

/*-------------------------------------------HEADER STYLE-------------------------------------------------*/
header {
  background-color: #acd4b4;
}

.nav-item {
  font-size: 2.5rem;
  font-family: "Dancing Script", sans-serif;
  font-weight: 400;
}
.nav-item a {
  padding: 0;
}

.navbar-brand img {
  height: 120px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-nav {
  gap: 40px;
}
.navbar__img {
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 0.5s;
}
.navbar__img:hover {
  transform: rotate(-10deg);
}

.index-brand {
  padding: 20px;
}
.index-brand-presentation {
  display: flex;
  align-items: center;
}
.index-brand-presentation-image img {
  max-width: 100%;
  height: auto;
}
.index-brand-presentation-text {
  padding: 20px;
}
.index-brand-presentation-text h2 {
  color: rgb(27, 27, 27);
  font-family: "Dancing Script", sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
}
.index-brand-presentation-text p {
  color: rgb(27, 27, 27);
  font-size: 1.2em;
}
@media screen and (max-width: 1000px) {
  .index-brand-presentation {
    flex-direction: column;
    text-align: center;
  }
  .index-brand-presentation-image {
    margin-bottom: 20px;
  }
}
.index-blogSquare {
  margin: 0 auto; /* Centra horizontalmente */
  margin-top: 25px;
  border: 1px solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #acd4b4;
  width: 65%;
  /* Estilo para el texto a la izquierda */
  /* Estilo para la imagen en el centro */
  /* Estilo para el link a la derecha */
}
.index-blogSquare-text {
  flex: 1; /* Toma el espacio restante */
}
.index-blogSquare-image {
  flex: 1; /* Toma el espacio restante */
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-blogSquare-image div {
  width: 250px; /* Ajusta el tamaño según tus necesidades */
  height: 250px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%; /* Hace que el div sea circular */
  background-image: url(../../imagenes/carrousel/Yoga\ \(60\).jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden; /* Evita que la imagen sobresalga del círculo */
  margin: -35px; /* Ajusta el valor para controlar cuánto sobresale */
}
.index-blogSquare-link {
  flex: 1; /* Toma el espacio restante */
  text-align: center;
}
.index-blogSquare-link a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #acd4b4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.index-blogSquare-link a:hover {
  background-color: #8db184; /* Cambia el color al pasar el ratón sobre el enlace */
}
.index-nav-layout {
  display: flex;
  justify-content: center;
}
.index-nav-layout-background {
  height: 450px;
  max-width: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  padding: 0;
  transition: all 0.5s linear;
}
.index-nav-layout-background:hover {
  transform: scale(1.05);
  box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.73);
}
.index-nav-layout-elemento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  backdrop-filter: grayscale(70%) blur(0.5px);
  background-color: hwb(170 23% 19%/0.4);
}
.index-nav-layout-elemento:hover {
  backdrop-filter: none;
  background-color: hwb(170 23% 19%/0.5);
}
.index-nav-layout-elemento span {
  font-size: 1.8rem;
  color: white;
  font-family: "Dancing Script";
}
.index-nav-layout-elemento p {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  margin: 10px;
  font-family: "Hind";
}
.index-nav-layout-elemento a {
  margin-top: 10px;
  font-size: 1.4rem;
  font-family: "Hind";
  color: white;
  background-color: #acd4b4;
  padding: 5px;
  border-radius: 0.5rem;
  transition: all 0.3s linear;
}
.index-nav-layout-elemento a:hover {
  color: #acd4b4;
  background-color: white;
}

#background-tienda {
  background-image: url(../../imagenes/carrousel/Yoga\ \(18\).jpg);
}
#background-blog {
  background-image: url(../../imagenes/carrousel/Yoga\ \(24\).jpg);
}

/*# sourceMappingURL=style.css.map */
